name: Executar Testes da API

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      BASE_URL: ${{ secrets.BASE_URL }}

    steps:
    - name: Clonar o repositório
      uses: actions/checkout@v3

    - name: Instalar Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Instalar dependências
      run: npm install

    - name: Iniciar servidor da API
      run: node src/index.js &
      
    - name: Aguardar servidor subir
      run: sleep 10

    - name: Executar testes
      run: npm test
