name: Executar Testes da API

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositório
        uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Instalar dependências
        run: npm install

      - name: Iniciar servidor da API
        run: |
          node src/index.js &
          sleep 15

      - name: Verificar se servidor está rodando
        run: curl -I http://localhost:3000 || echo "Servidor não respondeu"

      - name: Executar testes
        run: npm test
